img {

width: 90px;

}

main{
    background-color: #61FF00;
    margin:0;
    padding: 0;
    
}

.square {
    width: 300px;
    height: 150px;
    margin:0;
    background-color: rgb(0, 255, 0);
   
    border: 0px solid rgb(0, 255, 0);

}
html {
    background-color:#5D5FEF;
    font-family: 'Courier New', Courier, monospace;
}
.square1 {
    width: 300px;
    margin:0;
    height: 100px;
    background-color: #A2FF9A;
    
    border: 0px solid #A2FF9A;
    
        
}
.port {
    left: 10px;
}
section{
    display: flex;
    justify-content: space-around;
}
.info{
    display: flex;
    justify-content: space-around;
     background-color: #61FF00;

}
header {
    background-color: #61FF00;
    height: 200px;
    margin:0;
    padding: 0;
    
    
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-decoration: none;
    color: #0003FF;
    font-size: 20px;
}
.square2 {
    width: 300px;
    height: 100px;
   
    
    background-color: #A2FF9A;

}
.square3 {
      width: 300px;
    height: 150px;
    background-color: rgb(0, 255, 0);
    
    border: 0px solid rgb(0, 255, 0);
  
    
}


.square4 {
    display: flex;
    justify-content: space-around;
    width: 999px;
    height: 50px;
    background-color: rgb(0, 255, 0);
   margin-top: 50px;
    border: 0px solid rgb(0, 255, 0);
   
}
.portfolio {
    position: absolute;
    bottom: 100px;
    background-color: #5D5FEF
}
.obo {
    position: absolute;
    top: 220px;
    color: #ffffff;
      right: 1150px;
      background-color: #5D5FEF
}
.port {
    
   
    background-color: #5D5FEF
}
.square5 {
       width: 200px;
    height: 50px;
    background-color: rgb(55, 0, 255);
    
    border: 0px solid rgb(255, 255, 255);
   

    

}
.square6 {
       width: 200px;
    height: 50px;
    background-color: rgb(255, 0, 221);
    
    border: 0px solid rgb(255, 255, 255);
 
}
.square7 {
       width: 200px;
    height: 50px;
    background-color: rgb(0, 234, 255);
   
    border: 0px solid rgb(0, 217, 255);
   
}
.square8 {
       width: 200px;
    height: 50px;
    background-color: rgb(0, 0, 0);
   
    border: 0px solid rgb(0, 0, 0);
   

}
.square9 {
 
       width: 200px;
    height: 50px;
    background-color: rgb(255, 0, 0);
   
    border: 0px solid rgb(255, 0, 0);
  
}
.square10 {
       width: 200px;
    height: 50px;
    background-color: rgb(9, 255, 0);
 
    border: 0px solid rgb(0, 255, 4);
  
}
div {
    background-color: #5D5FEF ;
}

.portfolios{
    display: flex;
    flex-wrap: wrap;
}

.portfolios div{
    margin: 30px;
}
